<div class="row"> 
    <div id="appBody" class="appBody">

        <span id="dayscounter" class="label primary datecounter">
            <p>{{values[0]['days']}}</p>
        </span>
        <span id="hourscounter" class="label primary datecounter">
            <p>{{values[0]['hours']}}</p>
        </span>
        <span id="mincounter" class="label primary datecounter">
            <p>{{values[0]['min']}}</p>
        </span>
        <span id="secondscounter" class="label primary datecounter">
            <p>{{values[0]['seconds']}}</p>
        </span>

        <div id="outDivBar">
            <div class="progress">
                <div id="inDivBar" class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="1"
                    aria-valuemin="0" aria-valuemax="100" style="width: 1%">
                </div>
                <div id="labelBar">
                    1%
                </div>
            </div>
        </div>
    </div>
</div>